body {
  font-family: 微軟正黑體, arial;
  font-size: 12pt;
  color: #000000;
}
a:link,
a:visited {
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
  color: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 1px solid;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  font-family: 微軟正黑體, arial;
  color: #000000;
}
